/* Principal */
.red {
    color: var(--red);
}

/* Base */
.gray-100 {
    color: var(--gray-100);
}

.gray-200 {
    color: var(--gray-200);
}

.gray-300 {
    color: var(--gray-300);
}

.gray-400 {
    color: var(--gray-400);
}

.gray-500 {
    color: var(--gray-500);
}

.gray-600 {
    color: var(--gray-600);
}

/* Fontes */
.t-lg {
    font: var(--t-lg);
}

.t-md {
    font: var(--t-md);
}

.t-sm {
    font: var(--t-sm);
}

.sub-t {
    font: var(--sub-t);
}

.text-md {
    font: var(--text-md);
}

.text-sm {
    font: var(--text-sm);
}

/* Tecnologias */
.tech {
    display: flex;
    gap: 8px; /* espaço entre icone e palavra */
    align-items: center; /* centralizando o icone e a palavra */

    background: var(--gray-400);
    padding-block: 8px; /* cima | baixo */
    padding-inline: 16px; /* esquerda | direita */
    border-radius: 999px; /* formato de cápsula */
}

.p-projeto {
    margin-top: 20px;
    margin-bottom: 8px;
}

.m-b-8 {
    margin-bottom: 8px;
}